{% extends 'catalog/base.html' %}
{% block content %}
{% for object in object_list %}

<div class="col">

    <div class="card shadow-sm">
        <div class="card-head">
            <p class="card-title">
                {{object.name|title}}
            </p>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ object.description|slice:100 }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:view_product' object.pk %}">Перейти</a>
                </div>

            </div>
        </div>
    </div>
</div>

---
<!--<div class="container">-->
<!--    <div class="row text-center">-->
<!--        <div class="col-3">-->
<!--            <div class="card mb-4 box-shadow">-->
<!--                <div class="card-header">-->
<!--                    <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h1 class="card-title pricing-card-title"></h1>-->
<!--                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">-->
<!--                        <li>- </li>-->

<!--                    </ul>-->
<!--                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:view_product' object.pk %}">Перейти</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
{% endfor %}
    {% endblock %}