{% extends 'catalog/base.html' %}
{% block content %}
{% load mymedia %}

{% for object in object_list %}

    <div class="col">

        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"> {{object.name|title}} </h5>
                <p class="card-text">
                    {{ object.description|slice:100 }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:view_product' object.pk %}">Перейти</a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endfor %}

{% endblock %}